# Ingress parameters
ingress:
  # -- ingress.enabled Enable the creation of the ingress resource
  enabled: true

  # -- ingress.className Name of the IngressClass cluster resource which defines which controller will implement the resource (e.g nginx)
  className: "nginx-ingress"

  # -- ingress.annotations Additional annotations for the Ingress resource
  annotations:
    nginx.ingress.kubernetes.io/auth-url: "https://oauth2proxy.hanxux.local/oauth2/auth"
    nginx.ingress.kubernetes.io/auth-signin: "https://oauth2proxy.hanxux.local/oauth2/start?rd=https%3A%2F%2Fpact-broker.hanxux.local"

  # -- host Hostname to be used to expose the route to access the Pact Broker
  host: "pact-broker.hanxux.local"

  # Ingress TLS parameters
  tls:

    # -- ingress.tls.enabled Enable TLS configuration for the host defined at `ingress.host` parameter
    enabled: true

    # -- ingress.tls.secretName The name to which the TLS Secret will be called
    secretName: "pact-broker-tls-cert-secret"

# PostgreSQL [chart configuration](https://github.com/bitnami/charts/blob/master/bitnami/postgresql/values.yaml)
postgresql:

  # -- Switch to enable or disable the PostgreSQL helm chart
  enabled: true

  # The authentication details of the Postgres database
  auth:

    # -- Name for a custom user to create
    username: bn_broker

    # -- Password for the custom user to create
    password: "abc123abc123"

    # -- Name for a custom database to create
    database: bitnami_broker

    # -- Name of existing secret to use for PostgreSQL credentials
    existingSecret: ""

    # The secret keys Postgres will look for to retrieve the relevant password
    secretKeys:

      # -- The key in which Postgres well look for, for the admin password, in the existing Secret
      adminPasswordKey: ""

      # -- The key in which Postgres well look for, for the user password, in the existing Secret
      userPasswordKey: ""

      # -- The key in which Postgres well look for, for the replication password, in the existing Secret
      replicationPasswordKey: ""

  # -- PostgreSQL architecture (`standalone` or `replication`)
  architecture: standalone