# Manage CRD Lifecycle
crds:
  # -- Install the CustomResourceDefinitions (This also manages the lifecycle of the CRDs for update operations)
  install: true

priorityClassName: 'system-cluster-critical'

manager:
  options:
    logLevel: '4'
    forceTenantPrefix: false

  resources:
    limits:
      cpu: 100m
      memory: 256Mi
    requests:
      cpu: 15m
      memory: 184Mi

podSecurityContext:
  seccompProfile:
    type: "RuntimeDefault"
  runAsGroup: 1002
  runAsNonRoot: true
  runAsUser: 1002

securityContext:
  capabilities:
    drop:
    - ALL
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true

serviceAccount:
  create: true

replicaCount: 2

customLabels:
  capsule.workload: "true"

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: "capsule.workload"
              operator: In
              values:
                - "true"
        topologyKey: "kubernetes.io/hostname"

# Webhooks configurations
webhooks:
  namespaceOwnerReference:
    failurePolicy: Fail
  cordoning:
    failurePolicy: Fail
    namespaceSelector:
      matchExpressions:
        - key: capsule.clastix.io/tenant
          operator: Exists
  ingresses:
    failurePolicy: Fail
    namespaceSelector:
      matchExpressions:
        - key: capsule.clastix.io/tenant
          operator: Exists
  namespaces:
    failurePolicy: Fail
  networkpolicies:
    failurePolicy: Fail
    namespaceSelector:
      matchExpressions:
        - key: capsule.clastix.io/tenant
          operator: Exists
  pods:
    failurePolicy: Fail
    namespaceSelector:
      matchExpressions:
        - key: capsule.clastix.io/tenant
          operator: Exists
  persistentvolumeclaims:
    failurePolicy: Fail
    namespaceSelector:
      matchExpressions:
        - key: capsule.clastix.io/tenant
          operator: Exists
  tenants:
    failurePolicy: Fail
  tenantResourceObjects:
    failurePolicy: Fail
  services:
    failurePolicy: Fail
    namespaceSelector:
      matchExpressions:
        - key: capsule.clastix.io/tenant
          operator: Exists
  nodes:
    failurePolicy: Fail
  defaults:
    ingress:
      failurePolicy: Fail
      namespaceSelector:
        matchExpressions:
          - key: capsule.clastix.io/tenant
            operator: Exists
    pvc:
      failurePolicy: Fail
      namespaceSelector:
        matchExpressions:
          - key: capsule.clastix.io/tenant
            operator: Exists
    pods:
      failurePolicy: Fail
      namespaceSelector:
        matchExpressions:
          - key: capsule.clastix.io/tenant
            operator: Exists

mutatingWebhooksTimeoutSeconds: 30
validatingWebhooksTimeoutSeconds: 30

serviceMonitor:
  enabled: true

tolerations:
  - key: CriticalAddonsOnly
    operator: Exists
    effect: NoSchedule