excludeNamespaces: "kube-system,trivy-operator"

operator:
  namespace: "trivy-system"
  replicas: 1
  infraAssessmentScannerEnabled: false
  builtInTrivyServer: true

serviceMonitor:
  # -- enabled determines whether a serviceMonitor should be deployed
  enabled: true

trivyOperator:
  scanJobCompressLogs: false
  scanJobAutomountServiceAccountToken: true

trivy:
  # -- whether to use a storage class for trivy server or emptydir (one mey want to use ephemeral storage)
  storageClassEnabled: true

  # -- storageClassName is the name of the storage class to be used for trivy server PVC. If empty, tries to find default storage class
  storageClassName: ""

  # -- storageSize is the size of the trivy server PVC
  storageSize: "1Gi"

  ignoreUnfixed: true
  # -- ignoreFile can be used to tell Trivy to ignore vulnerabilities by ID (one per line)
  ignoreFile:
    # list of CVE entries to ignore everywhere
    # LibCurl, not relevant
    - CVE-2021-22945
    - CVE-2022-32207
    - CVE-2022-32221
    - CVE-2023-27536
    # libPCRE2, perl regex, not relevant
    - CVE-2022-1586
    - CVE-2022-1587
    # libTasn1 asn1_encode_simple_der, not relevant
    - CVE-2021-46848
    # zlib decompression denial of service, not relevant for oauth2proxy
    - CVE-2022-37434
    # We don't use sqlite3
    - CVE-2020-35527
    # Spring, We don't deploy to cloud foundry
    - CVE-2023-20873
    # Spring, logout functionality may be affected, not used by us
    - CVE-2023-20862
    # grpc-wiremock doesn't use apache commons text or tomcat or oauth2 authorization
    - CVE-2020-7692
    - CVE-2022-22965
    - CVE-2022-42889
    # we don't use HyperSQL DataBase
    - CVE-2022-41853
    # Kafka is not scala, and bug is not on their list of cve:s so not sensitive
    - CVE-2022-36944
    # postgres image does not serve ldap
    - CVE-2022-29155
    # unlikely to parse weird server certificates in postgres
    - CVE-2022-1292
    - CVE-2022-2068
    # not relevant, we don't deal with dpkg and intentionally doing that would not grant extra permissions
    - CVE-2022-1664
    # postgres+tomcat, disputed by vendor and also not relevant for this container, also not using h2 db
    - CVE-2021-23463
    - CVE-2021-42392
    - CVE-2022-23221
    - CVE-2022-26520
    # glibc, highly unlikely to even lead to denial of service, ok to ignore
    - CVE-2022-23218
    # glibc, ok to ignore, amazon rates as medium
    - CVE-2022-23219
    # Not relevant for externaldns, doesn't handle multiple users or github
    - CVE-2022-1996
    # not relevant, highly unlikely to lead to elevation of privileges or rce
    - CVE-2021-36159
    # Highly unlikely to be relevant for postgres, would require a postgres cve as well
    - CVE-2021-33574
    - CVE-2021-35942
    # not using sm2 encryption, unlikely to grant more permissions than originally granted
    - CVE-2021-3711
  # -- resources resource requests and limits for scan job containers
  resources:
    requests:
      cpu: 100m
      memory: 100M
      # ephemeralStorage: "2Gi"
    limits:
      cpu: 500m
      memory: 800M
      # ephemeralStorage: "2Gi"

  # -- The Flag to enable the usage of builtin rego policies by default, these policies are downloaded by default from mirror.gcr.io/aquasec/trivy-checks
  #
  useBuiltinRegoPolicies: "true"
  # -- The Flag to enable the usage of external rego policies config-map, this should be used when the user wants to use their own rego policies
  #
  externalRegoPoliciesEnabled: false
  # -- To enable the usage of embedded rego policies, set the flag useEmbeddedRegoPolicies. This should serve as a fallback for air-gapped environments.
  # When useEmbeddedRegoPolicies is set to true, useBuiltinRegoPolicies should be set to false.
  useEmbeddedRegoPolicies: "false"

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 200m
    memory: 256Mi

nodeCollector:
  tolerations:
  # -- If you do want to specify tolerations, uncomment the following lines, adjust them as necessary, and remove the
  # square brackets after 'scanJobTolerations:'.
  - key: "node-role.kubernetes.io/control-plane"
    operator: "NoSchedule"
